{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
    <h1>Page de Panier</h1>
    <p>Voici le contenu de votre panier.</p>
    <p><a href="{{ path('home') }}">Retour à l'accueil</a></p>
{% endblock %}
