{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1>Page de Profil</h1>
    <p>Bienvenue sur votre page de profil.</p>
    <p><a href="{{ path('home') }}">Retour à l'accueil</a></p>
{% endblock %}
